<%= form_with model: defined?(submission) ? submission : JobSubmission.new, url: path do |form| %>
    <div class="grid gap-4 mb-4 sm:grid-cols-2">
        
        <div class="sm:col-span-2">
            <%= form.text_area :note_to_applicant, class: "tinymce block bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5", rows: 4 %>
        </div>
    </div>
    <% if !submission.note_sent_at.nil? %>
        <small>Last note sent: <%= time_ago_in_words(submission.note_sent_at) %> ago</small>
    <% end %>
    <div class="mt-4">
        <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            <svg class="mr-2 w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"/>
            </svg>
            <%= label %>
        </button>
    </div>
<% end %>
