<table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">
                Application
            </th>
            <th scope="col" class="px-6 py-3">
                Position
            </th>
            <th scope="col" class="px-6 py-3">
                Department
            </th>
            <th scope="col" class="px-6 py-3">
                Status
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="odd:bg-white even:bg-gray-50 border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                Application 01
            </th>
            <td class="px-6 py-4">
                Position 01
            </td>
            <td class="px-6 py-4">
                Department 01
            </td>
            <td class="px-6 py-4">
                N.A
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 hover:underline">View</a>
            </td>
        </tr>
        <tr class="odd:bg-white even:bg-gray-50 border-b">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                Application 02
            </th>
            <td class="px-6 py-4">
                Position 02
            </td>
            <td class="px-6 py-4">
                Department 02
            </td>
            <td class="px-6 py-4">
                N.A
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 hover:underline">View</a>
            </td>
        </tr>
    </tbody>
</table>