<h1><%= @user.name %>'s Application</h1>
<%= link_to "Back to Review Applications", review_applications_admin_path %>
<%= link_to "Send Rejection Email", send_rejection_admin_path(@user), method: :post %>