<div class="mx-auto w-full md:w-2/3 mt-10">
  <h1 class="font-bold text-4xl mb-4">Edit Profile</h1>

<%= render 'form', resource: @user, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <%= link_to "Back to Profile", user_path(@user), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
