<div class="max-w-lg w-full">
  <h2 class="font-bold text-2xl py-4">Edit Application</h2>
  <%= link_to "< Back to job application", @job_application, class: "text-sm mb-3 block hover:underline link" %>
  <%= render "form", job_application: @job_application %>
</div>
