<div>
  <h2><strong>Hello Candidates</strong></h2>
  <p class='mt-5'>
    <%= link_to "Spring '24 Junior Rails Developer Instructions", welcome_spring_24_junior_rails_developer_path, class: 'text-blue-600 underline' %><%#%>
  </p>
</div>