<div class="group" data-controller="tabs">
  <div
    role="tablist"
    aria-orientation="horizontal"
    class="flex h-10 items-center justify-center rounded-md bg-muted p-1 text-muted-foreground"
    tabindex="0"
    data-orientation="horizontal"
    style="outline: none">
    <%= content_for :tab_list %>
  </div>

  <%= content_for :tab_panels %>
</div>