<div class="container">
<h1 class="font-bold text-4xl mt-4">Surveys</h1>
</div>

<hr class="my-4">

<div class="container">
  <div class="row mb-3 text-center">
    <div class="col-md-2">
      Fave Cube
    </div>
    <div class="col-md-2">
      Like Ruby
    </div>
    <div class="col-md-6">
      Last Ruby Project
    </div>
    <div class="col-md-2">
      Applicant Info
    </div>
  </div>
</div>

<hr class="my-4">

<div class="container">
  <% @surveys.each do |survey| %>
    <%= render "surveys/survey", survey: survey %>
  <% end %>
</div>

