<div class="container">
<h1 class="font-bold text-4xl mt-4">Survey</h1>
</div>

<hr class="my-4">

<div class="row mb-3 text-center">
  <div class="col-md-2">
    Fave Cube
  </div>
  <div class="col-md-2">
    Like Ruby
  </div>
  <div class="col-md-8">
    Last Ruby Project
  </div>
</div>

<hr class="my-4">

<div class="row mb-3 text-center">
  <div class="col-md-2">
    <%= @survey.favorite_cube %>
  </div>
  <div class="col-md-2">
    <%= @survey.like_ruby %>
  </div>
  <div class="col-md-8">
    <%= @survey.last_project %>
  </div>
</div>

