<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>We have received your job application</h1>
  <p>
    Dear <%= @applicant.full_name %>,
  </p>
  <p>
    We have received your job application and will review it shortly. Thank you for your interest in joining our team.
  </p>
  <p>
    Best regards,<br>
    <%= @sender.name %><br>
  </p>
</body>
</html>
