<h1>Review Applications</h1>

<%= link_to 'Reverse Sort Order', review_applications_admin_users_path(sort_order: params[:sort_order] == 'desc' ? 'asc' : 'desc', show_rejected: params[:show_rejected]) %>
<%= link_to params[:show_rejected] ? 'Hide Rejected' : 'Show Rejected', review_applications_admin_users_path(sort_order: params[:sort_order], show_rejected: params[:show_rejected] ? nil : 'true') %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= link_to job_application.email, admin_user_path(job_application.user) %></td>
        <td><%= job_application.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>