<table>
  <tr>
    <td style="vertical-align: top;padding:10px;">
      <%= link_to 'Registration', new_applicant_path, class: 'rounded-lg py-3 px-5 inline-block font-medium bg-green-200 cursor-pointer' %>
    </td>
    <td style="vertical-align: top;padding: 10px;">
      <%= link_to "Sign in", new_user_session_path, class: 'rounded-lg py-3 px-5 inline-block bg-red-200 text-black font-medium cursor-pointer' %><%#%>
    </td>
  </tr>
</table>
